@font-face {
  font-family: "MyCustomFont";
  src: url("font/KGTeacherJordan.otf") format("opentype");
}


:root {
  --bg-color: #ffe6f0;
}

body {
  margin: 0;
  font-family: "MyCustomFont";
  background-image: url("img/bg.jpg");
  background-repeat: repeat;
  background-size: 100px;   /* keeps original tile size */
  overflow: hidden;
}


#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
    font-size: 45px;
  background: #940000;
  color:#ffe6f0;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s ease;
}



.popup.wide {
  font-size: 24px;
  width: 65%;
  max-width: 750px;
}


.popup.show {
  transform: scale(1);
  opacity: 1;
}

.popup.hide {
  transform: scale(0.7);
  opacity: 0;
}

.buttons button {
  margin: 8px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  background-color: #550D0E;  /* button color */
  color: white;               /* text color */
  transition: 0.2s ease;
}


input {
  margin-top: 10px;
  padding: 8px;
  width: 90%;
}

.hidden {
  display: none;
}

#loveBomb {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 24px;
  color:#e37777;
}

#finalButton {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 10px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  background-color: #550D0E;   /* button color */
  color: #ffe6f0;                /* text color */

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.2s ease;
}


#easterEgg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 10px;
  font-size: 12px;
}

.ball {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  top: -120px; /* starts behind tab bar */
  z-index: 9999;
}

@keyframes fall {
  from { transform: translateY(-100px); }
  to { transform: translateY(100vh); }
}

#popupText {
  white-space: pre-line;
}


